<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <servlet>
        <servlet-name>Personal_Info</servlet-name>
        <servlet-class>com.ecommerce.about_me.controller.Personal_Info</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminController</servlet-name>
        <servlet-class>com.admin_dashboard.helloworld5.controller.AdminController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminController2</servlet-name>
        <servlet-class>com.ecommerce.helloworld5.controller.AdminController2</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProductController</servlet-name>
        <servlet-class>com.ecommerce.helloworld5.controller.ProductController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Personal_Info</servlet-name>
        <url-pattern>/PersonalInformation</url-pattern>
        <!-- <url-pattern>/index</url-pattern> -->
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminController</servlet-name>
        <url-pattern>/AdminController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminController2</servlet-name>
        <url-pattern>/AdminController2</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProductController</servlet-name>
        <url-pattern>/ProductController</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
